<div class="contact-form-container">
  <div class="profile-area">
    <img
      class="contact-image"
      src="{{ contact.avatar }}"
      onerror="this.src='../../../assets/perm_identity_black_24dp.svg';"
      alt="Profile avatar"
    />
    <h2 *ngIf="contact" class="contact-name">
      {{ contact.first_name + " " + contact.last_name }}
    </h2>
  </div>

  <div class="address-area" [formGroup]="addressFormList">
    <div formArrayName="addressList">
      <ng-container *ngFor="let address of addressList.controls; index as i">
        <!-- Address Form for exsisting addresses -->
        <form
          class="contact-address-form"
          (ngSubmit)="onSubmit(i)"
          formGroupName="{{ i }}"
        >
          <div class="contact-form-head">
            <h3>Address #{{ i + 1 }}</h3>
            <button
              class="form-button contact-form-button"
              (click)="onClose(i)"
            >
              <mat-icon aria-label="Side nav toggle icon">clear</mat-icon>
            </button>
          </div>

          <!-- Street 1 Input -->
          <mat-form-field>
            <mat-label>Street 1</mat-label>
            <input
              matInput
              placeholder="Street 1"
              formControlName="street1"
              required
            />
          </mat-form-field>
          <!-- Street 2 Input -->
          <mat-form-field>
            <mat-label>Street 2</mat-label>
            <input
              matInput
              placeholder="Street 2"
              formControlName="street2"
              required
            />
          </mat-form-field>
          <!-- Town Input -->
          <mat-form-field>
            <mat-label>Town</mat-label>
            <input
              matInput
              placeholder="Town"
              formControlName="town"
              required
            />
          </mat-form-field>
          <!-- Country Dropdown -->
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" required>
              <ng-container *ngFor="let country of countriesList">
                <mat-option [value]="country.iso2">{{
                  country.name
                }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <!-- Form Buttons -->
          <div class="contact-form-submit-area">
            <!-- When form is valid button becomes available -->
            <button
              class="form-button contact-form-button"
              type="button"
              (click)="addAddress()"
            >
              <mat-icon aria-label="Side nav toggle icon">add</mat-icon>
              <span>Add Address</span>
            </button>
            <button
              class="form-button contact-form-button"
              [disabled]="
                addressList.controls[i].invalid ||
                !addressList.controls[i].dirty
              "
              type="submit"
            >
              <mat-icon>save</mat-icon>
              <span>Save</span>
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>
