<div class="page-block">
  <app-contact-list
    *ngIf="!isContactFormOpen"
    [contacts]="contacts"
    (editContactEvent)="editContact($event)"
  ></app-contact-list>

  <form
    *ngIf="!isContactFormOpen"
    class="contact-name-input"
    [formGroup]="form"
    (ngSubmit)="newContact()"
  >
    <mat-form-field>
      <mat-label>New Contact</mat-label>
      <input
        matInput
        placeholder="New Contact *"
        formControlName="contactName"
        required
      />
    </mat-form-field>
    <button
      class="form-button contact-form-button"
      type="submit"
      [disabled]="form.invalid"
    >
      <mat-icon aria-label="Add contact icon">add_circle_outline</mat-icon>
    </button>
  </form>
  <app-contact-form
    *ngIf="isContactFormOpen"
    [contact]="selectedContact"
  ></app-contact-form>
</div>
