<div class="page-block">
  <app-contact-list
    *ngIf="!isContactFormOpen"
    [contacts]="contacts"
    (editContactEvent)="editContact($event)"
  ></app-contact-list>

  <form *ngIf="!isContactFormOpen" class="contact-name-input">
    <mat-form-field>
      <mat-label>New Contact *</mat-label>
      <input matInput placeholder="New Contact *" />
    </mat-form-field>
    <button
      class="form-button contact-form-button"
      type="button"
      (click)="openContactForm()"
    >
      <mat-icon aria-label="Side nav toggle icon">add_circle_outline</mat-icon>
    </button>
  </form>
  <app-contact-form
    *ngIf="isContactFormOpen"
    [contact]="selectedContact"
  ></app-contact-form>
</div>
