.contact-list-block {
  margin-bottom: 20px;
}
.contact-list-item {
  display: flex;
  &:hover {
    cursor: pointer;
    background-color: #e0e0e0;
  }
}
.contact-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.contact-first-name {
  margin-left: 8px;
}
